<a class="flex flex-row w-100 black" href="{{ .RelPermalink }}" style="text-decoration: none">
    {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
    {{ if $featured_image }}
    <div class="w-40 relative ma0 pa0" style="aspect-ratio: 1/1; background-image: url('{{ $featured_image }}'); background-size: cover">
    {{ else }}
    <div class="w-40 relative ma0 pa0" style="aspect-ratio: 1/1; background-image: url('{{ .Site.Params.defaultImage }}'); background-size: cover">
    {{ end }}
        <div class="flex flex-column-reverse h-100 w-100">
            <div class="flex flex-row-reverse w-100">
                <div class="flex flex-column justify-center pa3" style="background-color:rgb(10%,10%,10%);color:rgb(90%,90%,90%)">
                    <div>
                        {{ .Title }}
                    </div>
                </div>
                <div class="flex-grow-1" style="background: linear-gradient(to right, transparent, #8aa63a)"></div>
            </div>
        </div>
    </div>
    <div class="flex flex-column mh4 pv4 flex-grow-1 bt bw1">
        <div class="flex flex-column justify-center h-50">
            <h2 class="mt0">{{ .Title }}</h2>
        </div>
        <div class="nested-copy-line-height lh-copy f5 nested-links bt b--gray w-50 pt2 {{ $.Param "text_color" | default "mid-gray" }}">
            {{ .Summary }}
        </div>
    </div>
</a>
